<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row layui-col-space30">
            <div style="background-color: #00FF00" class="layui-col-md9 layui-col-xs9 layui-col-sm9">
                内容9/12 C:\Users\YuFu\AppData\Roaming\npm
            </div>
            <div style="background-color: #00F7DE" class="layui-col-md3 layui-col-xs3 layui-col-sm3">
                内容3/12
            </div>
        </div>
    </div>
</body>
</html>